<div class="CenterNav">
  <h2 class="b-head">Terms and Conditions</h2>
  <p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  Lorem ipsum dolor sit amet consectetur adipisicing elit
  </p>
</div>