<%=render :partial=>"form"%>


<%#*<div class="CenterNav">%>
<%#*<h2 class="b-head">Messages</h2>%>
<%#*<div class="cu-c1">%>
<%#= link_to image_tag("../images/add_user.jpg", :width=>"17", :height=>"17", :title=>"Compose")+"Compose", new_message_path %>
<%#= link_to image_tag("../images/add_user.jpg", :width=>"17", :height=>"17", :title=>"Sent")+"Sent", new_message_path %>
<%#*</div>%>
<%#*<h2 class="b-head">List</h2>%>
<%#*<div class="manage-user box">%>
<%#if @messages && !@messages.empty?%>
<%# @messages.each do |message| %>
<%#= message.user.first_name %>
<%#= message.message %>
<%#= message.created_at %>
<%# end %>
<%#else%>
<%#= 'No Message Found' %>
<%# end %>
<%#*</div>%>
<%#*</div>%>