
<tr>
  <td><b>Vehicle Model</b></td>
  <td><b><%= @resource.vehicle_model %></b></td>
</tr>

<tr>
  <td><b>Driver Name</b></td>
  <td><b><%= @driver.name %></b></td>
</tr>
<tr>
  <td><b>Driver Telephone</b></td>
  <td>
    <b><%= @driver.telephone_number %></b></td>
</tr>


