<div class="CenterNav">
  <h2 class="b-head">List CMS Pages</h2>
  <div class="manage-user box">
    <%@cms_pages.each do |cms_page|%>
      <div class="manage-user-row box">
        <div class="mu-c2">
          <p class="head1"><%= cms_page.title%></p>
        </div>
         <div class="mu-c3">
        <%= link_to image_tag("../images/edit.jpg",:width=>"14",:height=>"14",:alt=>"img") +"Edit", :action=>'edit', :id=>cms_page.id.to_i%>
      </div>
      </div>
      <div class="clear"></div>
    <%end%></div>
</div>
