
<div class="CenterNav">
  <h2 class="b-head"><%=@cms_page.title%></h2>
  <div class="manage-user box">
    <%#*<div class="manage-user-row box">%>
      <div class="mu-c2">
        <%=@cms_page.content.html_safe%>
      </div>
    <%#*</div>%>
    <div class="clear"></div>
  </div>
</div>
