#Menu ul									{ list-style: none; }


/*
	LEVEL ONE
*/
ul.dropdown                         { position: relative; z-index:998;}
ul.dropdown li.hover,
ul.dropdown li:hover                { position: relative; }

/*
	LEVEL TWO
*/
ul.dropdown ul 						{ visibility: hidden; position: absolute; top: 100%; right:0px; z-index:999;}
ul.dropdown ul li 					{ background-image:none; border:0 none; float:none;}

                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ width: 165px; display: inline-block; padding:0px 0 0px 5px; line-height:22px; text-align:left;}
ul.dropdown ul li a:hover			{ background-image:none; background-color:#ED4538;}
/*
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }