 <%=render :partial=>'shared/header'%>
<style>
  #content * {
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
  }
  div#fence{
    margin-top: 70px;
    margin-left: 225px;
    margin-right: 120px;
  }
  div#fence img {
    float:left;
  }
</style>

  <div class='wrapper'>
    <div class='span-24' id='content'>
      <div class="prepend-2 append-2 prepend-top">
        <h1 class="bottom"><strong>Achachoooo!</strong></h1>
        <h2>We are sorry, but your Account is not approved by Super Admin.<br />
            If you are not sure why this happened,<br />
            stream your favorite song in youtube and write to your admin.
        </h2>
      </div>
    </div>
  </div>
